$black: #131313;
$white: #fff;
$hover: #e8e8e8;

body{
  //background-image: url('https://s1.gifyu.com/images/bo-bg-1.gif');
  height: 100vh;
  padding:0;
  margin:0;
  a {
    color: $black;
  }
}

.nav-wrapper {
  padding: 0 2rem;
}

.brand-logo {
  cursor: default;
}

.animal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 2rem;
  }
  img {
    max-width: 600px;
    height: auto;
  }
  .price.big {
    font-size: 2rem;
  }
}

.card-link {
  .card.animal {
    height: 600px;
    max-width: 410px;
    position: relative;

    img {
      max-height: 400px;
      width: auto;
    }
    .animal-description {
      height: 100%;
      width: 100%;
      margin: 0 auto auto 0;
    }
  }
}

.card-link:hover {
  .animal-description {
    background: $hover;
    transition: 0.5s;
  }
}

.card-animal-description {
  h3 {
    text-align: center;
  }

  .description {

    .price.big {
      font-size: 2rem;
    }
  }

}

.card-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-form {
  margin-bottom: 2rem;
}

.auth {
  padding-top: 1rem
}

.alert {
  padding: .5rem 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: rgba(255, 0, 0, .3);
  color: red;
}

.avatarBorder {
  width: 300px;
  height: 300px;
  border: 2px solid $black;
  border-radius: 50%;
  overflow: hidden;
  img {
    max-width: 300px;
    height: auto;
  }
}
