<footer>
    <div class="footer">
        <div>
            <hr>
            <div class="footer__nav">
                <div class="footer__contacts">
                    <p>(с) vyahs 2022</p>
                    <p>ИП 312423432</p>
                    <p>ИНН 4234234234532</p>
                    <p>ОГРН 423443534253452</p>
                </div>
                <div class="footer__links">
                    <a href="">vk</a>
                    <a href="">tg</a>
                </div>
            </div>
        </div>
        <div class="footer__creation">
            <div>
                <p>Создание сайта:</p>
                <a href="https://github.com/choodofire" target="_blank">https://github.com/choodofire</a>
            </div>
        </div>
    </div>
</footer>