<footer>
    <div class="footer">
        <hr>
        <div class="footer-nav">
            <div>
                <p>(с) vyahs 2022</p>
                <p>ИП 312423432</p>
                <p>ИНН 4234234234532</p>
                <p>ОГРН 423443534253452</p>
            </div>
            <div>
                <div>
                    <p>Создание сайта:</p>
                </div>
            </div>
            <div>
                <a href="">vk</a>
                <a href="">tg</a>
            </div>
        </div>
    </div>
</footer>

<script src="/app.js"></script>