{{> head }}
<body>
    {{> navbar}}
    <div class="container wrapper">
        {{{ body }}}
    </div>
    {{> footer}}
{{#if isAuth}}

{{else}}
    {{> popup-auth}}
{{/if}}
    {{> scripts}}
</body>
</html>