body{
    /*background-image: url('https://s1.gifyu.com/images/bo-bg-1.gif');*/
    height: 100vh;
    padding:0;
    margin:0;
}

.nav-wrapper {
    padding: 0 2rem;
}

.brand-logo {
    cursor: default;
}

.animal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal h1 {
    margin-bottom: 2rem;
}

.animal img {
    max-width: 600px;
    height: auto;
}

.animal .price.big {
    font-size: 2.5rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-form {
    margin-bottom: 2rem;
}

.auth {
    padding-top: 1rem
}

.alert {
    padding: .5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(255, 0, 0, .3);
    color: red;
}

.avatar {
    max-width: 300px;
    height: auto;
}
